* {
    transition-duration: 0.3s;
    font-family: 'Roboto';
}

body {
    font-family: 'Roboto';
    width: 100vw;
    background-color: #f4f5f6;
    font-size: 15px;
    line-height: 20px;
    margin: auto;
    overflow-x: hidden
}

ul {
    padding: 0;
}

a {
    color: inherit;
}

a:hover {
    color: #f72210;
    text-decoration: none;
}

.container {
    background-color: white;
    padding: 0;
    max-width: 1310px;
}

.header {
    display: flex;
    background-color: #f72210;
    height: fit-content;
    justify-content: space-between;
    color: #f4f5f6;
    padding: 15px 20px 40px 20px;
    align-items: flex-end;
}

.header p {
    margin: 0;
}

.header > div > p:first-child {
    line-height: 40px;
    font-weight: bold;
}

.header > svg {
    filter: invert(100%);
    height: 60px;
}

.header button {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    font-weight: bold;
    height: 30px;
    padding: auto 20px;
    margin: auto 10px;
}

.header > div:last-child {
    height: fit-content;
}

.header > div:last-child > button:first-child {
    color: white;
}

.header > div:last-child > button:last-child {
    color: black;
    background-color: #ffe400;
    border-radius: 24px;
}

nav {
    width: fit-content;
    background-color: white;
    transform: translateY(-50%);
}

nav > ul {
    display: flex;
    justify-content: space-between;
}

nav > ul > li {
    display: inline;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    padding: 0 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

nav > ul > li:last-child {
    border-right: none;
}

.trending {
    background-color: white;
    margin-top: -36px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-right: none;
    border-left: none;
    height: fit-content;
}

.trending > ul {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto 0 0;
}

.trending > ul > li {
    display: inline;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 20px;
}

.trending a {
    color: #807f84;
}

