* {
    transition-duration: 0.3s;
    font-family: 'Roboto';
}

h1 {
    font-size: 18px;
    color: #807f84;
    text-transform: uppercase;
}

body {
    font-family: 'Roboto';
    width: 100vw;
    background-color: #f4f5f6;
    font-size: 15px;
    line-height: 20px;
    margin: auto;
    overflow-x: hidden
}

ul {
    padding: 0;
}

a {
    color: inherit;
}

a:hover {
    color: #f72210;
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    background-color: white;
    padding: 0;
    max-width: 1310px;
    overflow: hidden;
}

.header {
    display: flex;
    background-color: #f72210;
    height: fit-content;
    justify-content: space-between;
    color: #f4f5f6;
    padding: 15px 20px 40px 20px;
    align-items: flex-end;
}

.header p {
    margin: 0;
}

.header > div > p:first-child {
    line-height: 40px;
    font-weight: bold;
}

.header > svg {
    filter: invert(100%);
    height: 60px;
}

.header button {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    font-weight: bold;
    height: 30px;
    padding: auto 20px;
    margin: auto 10px;
}

.header > div:last-child {
    height: fit-content;
}

.header > div:last-child > button:first-child {
    color: white;
}

.header > div:last-child > button:last-child {
    color: black;
    background-color: #ffe400;
    border-radius: 24px;
}

nav {
    width: fit-content;
    background-color: white;
    transform: translateY(-50%);
}

nav > ul {
    display: flex;
    justify-content: space-between;
}

nav > ul > li {
    display: inline;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    padding: 0 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

nav > ul > li:last-child {
    border-right: none;
}

.trending {
    background-color: white;
    margin-top: -36px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-right: none;
    border-left: none;
    height: fit-content;
}

.trending > ul {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto 0 0;
}

.trending > ul > li {
    display: inline;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 20px;
}

.trending a {
    color: #807f84;
}

.featured-stories {
    padding: 10px 40px;
}

.top-story {
    padding: 10px 0;
}

.padding {
    padding: 20px 20px;
}

.orange {
    color: #f72210;
    font-weight: bold;
}

article img {
    width: 100%;
}

article > div:first-child {
    position: relative;
    margin-bottom: 20px;
}

article > div:first-child span {
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f72210;
}

article h1 {
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 24px;
}

article p {
    font-weight: 300;
}

.no-padding {
    padding: 0;
}

.my-turn {
    margin-bottom: 20px;
}

.my-turn h1 {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}

.my-turn img {
    margin-bottom: 15px;
}

.list-articles > div > article, .list-articles > div {
    padding: 5px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.list-articles > div > article:first-child, .list-articles > div:first-child {
    border: none;
    padding-top: 0;
}

.list-articles img {
    float: left;
    height: 90px;
    width: 90px;
    margin-right: 15px;
}

.list-articles.writer > div {
    padding: 15px 0;
}

.list-articles.writer img {
    height: 60px;
    width: 60px;
}

.list-articles h1 {
    font-size: 16px;
}

.list-articles.writer h1 {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}

.list-articles.writer span {
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
}

.title {
    width: 100%;
    text-align: center;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.title h1 {
    font-size: 26px;
    font-weight: 700;
}

.title img {
    background-color: #f72210;
    width: 28px;
    margin-right: 10px;
}

.stick {
    position: sticky;
    top: 0;
}

.subscribe {
    background-color: #f4f5f6;
    padding: 30px;
    height: 260px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.subscribe img {
    height: 200px;
    width: 140px;
    margin-right: 40px;
}

.subscribe h1 {
    font-size: 24px;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
}

.subscribe button, .newsletter button {
    color: white;
    background-color: #f72210;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.newsletter {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.newsletter button {
    width: calc(100% - 15px);
    margin: 10px 0;
}

.newsletter h1 {
    color: black;
    text-transform: capitalize;
}

.newsletter input {
    padding: 10px;
    width: calc(100% - 15px);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.newsletter > div > div:first-child {
    background: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5") center center / cover no-repeat;
}

.newsletter > div > div:last-child {
    padding: 20px;
}

footer {
    padding: 20px;
}

footer > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 15px;
    color: #807f84;
}

footer > div:first-child span {
    font-size: 12px;
    color: #807f84;
    padding: 0 5px;
}

footer > div:first-child > div:first-child {
    display: flex;
    align-items: flex-end;
}

footer svg {
    height: 40px;
    width: 210px;
    fill: #f72210;
}

footer i {
    font-size: 24px;
    padding: 0 5px;
    color: #807f84;

}

footer > div:last-child {
    padding: 10px 0;
    color: #807f84;
    font-weight: 300;
}

footer > div:last-child > ul > li {
    display: inline;
    padding: 0 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

footer > div:last-child > ul > li:first-child {
    border: none;
}

footer > div:last-child > ul > li:last-child {
    border: none;
}
